<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>createNickname.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>game.css"/>
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <title>NodeLudo - Register</title>
</head>
<body>
<div class="title">
    <div class="title-blue">N
    </div><div class="title-red">o
    </div><div class="title-green">d
    </div><div class="title-yellow">e
    </div><div class="title-red">L
    </div><div class="title-green">u
    </div><div class="title-yellow">d
    </div><div class="title-blue">o
    </div>
</div>
<div class="row">
    <div class="lobby-box col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Register nickname</b></div>
            <div class="panel-body">
                <div id="form">
                    <div class="form-row align-items-center">
                        <div class="col-xs-10 col-sm-9">
                            <label class="sr-only" for="inlineFormInput">Name</label>
                            <input type="text" class="form-control" id="playerName" name="playerName" placeholder="Nickname">
                        </div>
                        <div class="col-xs-2 col-sm-3">
                            <button id="createNickname" class="btn btn-default" style="float: right"
                                    disabled="true">Next
                            </button>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-sm-12 nicknameError">
                            <label id="nicknameError" style="color:red; font-weight: bold;"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>