<div style='overflow: auto; max-height: 550px;'>
    <table style='width:100%'>
        <tr>
            <th>Version</th>
            <th>Date</th>
            <th>Changes</th>
        </tr>
        <tr>
            <td>0.1.32</td>
            <th>2020-08-24</th>
            <td>Fixed fixed rare rendering issue when multiple stacks are in the same tile. Cleaned up console-log spam.</td>
        </tr>
        <tr>
            <td>0.1.31</td>
            <th>2020-05-03</th>
            <td>Fixed bug when only bots are left in the game.</td>
        </tr>
        <tr>
            <td>0.1.30</td>
            <th>2020-05-03</th>
            <td>Added Ludo bots. Fixed chat message color. Fixed game not appearing to start in lobby.</td>
        </tr>
        <tr>
            <td>0.1.29</td>
            <th>2020-04-28</th>
            <td>Updated chat, added color rendering and selective viewing. Added idle kick warning in chat.</td>
        </tr>
        <tr>
            <td>0.1.28</td>
            <th>2020-04-27</th>
            <td>Added footer and patch notes.</td>
        </tr>
        <tr>
            <td>0.1.27</td>
            <th>2020-04-27</th>
            <td>Fixed issue where the board would look like trash sometimes.</td>
        </tr>
        <tr>
            <td>0.1.26</td>
            <th>2020-04-27</th>
            <td>When starting games with only two players they should now start on opposite sides.</td>
        </tr>
        <tr>
            <td>0.1.25</td>
            <th>2020-04-24</th>
            <td>Updated visuals in lobby. Shows many games better.</td>
        </tr>
        <tr>
            <td>0.1.24</td>
            <th>2020-04-21</th>
            <td>Fixed stats popover on mobile and made move popovers bigger.</td>
        </tr>
        <tr>
            <td>0.1.23</td>
            <th>2020-04-21</th>
            <td>Fixed bug introduced in previous update were players would be hidden in games.</td>
        </tr>
        <tr>
            <td>0.1.22</td>
            <th>2020-04-21</th>
            <td>Updated responsive design, now works much better on phones and tablets.</td>
        </tr>
        <tr>
            <td>0.1.21</td>
            <th>2020-04-21</th>
            <td>Updated server logging.</td>
        </tr>
        <tr>
            <td>0.1.20</td>
            <th>2020-04-20</th>
            <td>Added reverse proxy support for geoIP and flags.</td>
        </tr>
        <tr>
            <td>0.1.19</td>
            <th>2020-04-20</th>
            <td>Added geoIP and flags showing where the player is from in the lobby.</td>
        </tr>
        <tr>
            <td>0.1.18</td>
            <th>2020-04-20</th>
            <td>Added server logging.</td>
        </tr>
        <tr>
            <td>0.1.17</td>
            <th>2019-06-04</th>
            <td>Added client side ready/unready spam protection.</td>
        </tr>
        <tr>
            <td>0.1.16</td>
            <th>2019-06-04</th>
            <td>Updated logo.</td>
        </tr>
        <tr>
            <td>0.1.15</td>
            <th>2019-06-04</th>
            <td>Fixed unhandled exception and non working redirect.</td>
        </tr>
        <tr>
            <td>0.1.14</td>
            <th>2019-06-04</th>
            <td>Server side game logic refactor</td>
        </tr>
        <tr>
            <td>0.1.13</td>
            <th>2019-06-04</th>
            <td>Added option to decide to move chips in to finish or out.</td>
        </tr>
        <tr>
            <td>0.1.12</td>
            <th>2019-06-04</th>
            <td>Updated jQuery library.</td>
        </tr>
        <tr>
            <td>0.1.11</td>
            <th>2019-06-04</th>
            <td>New design, added give up and go to lobby buttons in game.</td>
        </tr>
        <tr>
            <td>0.1.10</td>
            <th>2019-06-04</th>
            <td>Code refactor and logout button added.</td>
        </tr>
        <tr>
            <td>0.1.9</td>
            <th>2019-01-28</th>
            <td>Fixed spelling error.</td>
        </tr>
        <tr>
            <td>0.1.8</td>
            <th>2019-01-28</th>
            <td>Removed horizontal scrollbar.</td>
        </tr>
        <tr>
            <td>0.1.7</td>
            <th>2019-01-28</th>
            <td>Added page titles.</td>
        </tr>
        <tr>
            <td>0.1.6</td>
            <th>2019-01-25</th>
            <td>Added chat spam protection and message max length.</td>
        </tr>
        <tr>
            <td>0.1.5</td>
            <th>2019-01-25</th>
            <td>Fixed Firefox comparability.</td>
        </tr>
        <tr>
            <td>0.1.4</td>
            <th>2018-10-27</th>
            <td>Stats are available by clicking on player name in game.</td>
        </tr>
        <tr>
            <td>0.1.3</td>
            <th>2018-10-23</th>
            <td>Fixed redirect to lobby  with reverse proxies for returning players.</td>
        </tr>
        <tr>
            <td>0.1.2</td>
            <th>2018-10-23</th>
            <td>Updated dependencies with security vulnerabilities. Removed console.log() spam.</td>
        </tr>
        <tr>
            <td>0.1.1</td>
            <th>2018-10-23</th>
            <td>Added support for reverse proxies.</td>
        </tr>
        <tr>
            <td>0.1.0</td>
            <th>2018-8-17</th>
            <td>Lobby layout cleanup. Improved starting of games. Added unready button.</td>
        </tr>
        <tr>
            <td>0.0.13</td>
            <th>2018-8-11</th>
            <td>Added responsive design in lobby. Added backend stats for players. Added port setting to config file.</td>
        </tr>
        <tr>
            <td>0.0.12</td>
            <th>2018-8-08</th>
            <td>Players can now be in multiple games at once.</td>
        </tr>
        <tr>
            <td>0.0.11</td>
            <th>2018-8-02</th>
            <td>Removal of inactive players from lobby. Auto join of returning players.</td>
        </tr>
        <tr>
            <td>0.0.10</td>
            <th>2018-04-06</th>
            <td>Added give up button to games.</td>
        </tr>
        <tr>
            <td>0.0.9</td>
            <th>2018-04-05</th>
            <td>Leave game support added in backend. Improvements to chat,  now scrolls to bottom on new messages if already at the bottom. Added connection lost warning. Checksum for websocket updates.</td>
        </tr>
        <tr>
            <td>0.0.8</td>
            <th>2018-04-04</th>
            <td>Now uses websocket to send updates.</td>
        </tr>
        <tr>
            <td>0.0.7</td>
            <th>2018-03-16</th>
            <td>Added experimental board generator for 8 players.</td>
        </tr>
        <tr>
            <td>0.0.6</td>
            <th>2018-03-15</th>
            <td>Fixed idle timeout value.</td>
        </tr>
        <tr>
            <td>0.0.5</td>
            <th>2018-04-14</th>
            <td>Improvements to kick on idle.</td>
        </tr>
        <tr>
            <td>0.0.4</td>
            <th>2018-03-13</th>
            <td>Added turn time remaining visual. Added return to lobby on idle timeout win. Fixed idle timeout countdown.</td>
        </tr>
        <tr>
            <td>0.0.3</td>
            <th>2018-03-12</th>
            <td>Two stacks of different color can show be shown beside each other. Improvements for login redirect. Small visual fixes. Improved security. Improved scaling.</td>
        </tr>
        <tr>
            <td>0.0.2</td>
            <th>2017-12-26</th>
            <td>Added idle kick. Fixed winners name showing two times.</td>
        </tr>
        <tr>
            <td>0.0.1</td>
            <th>2018-11-03</th>
            <td>First version.</td>
        </tr>
    </table>
</div>